@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* variables */
:root {
  --gradientbackground: linear-gradient(to bottom, #ffe500 -7%, #ffffff 72%);
  --yellowheadings: #ffe500;
  --darkgreenheadings: #00373a;
  --littledarkdgreen: #005f5a;
}

body {
  margin: 0%;
  padding: 0%;
  font-family: montserrat, montserrat, sans-serif;
  line-height: 1.15;
}

button {
  outline: none;
}

html {
  box-sizing: border-box;
  /* if we use padding it does not affect the width of the element */
  font-family: montserrat, "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

@media (max-width: 1278px) and (min-width: 991px) {
  *,
  ::after ::before {
    box-sizing: inherit;
  }

  .pageOne {
    min-height: 700px;
  }

  .flexBox {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }

  .imageOne img {
    max-width: 100%;
    width: 599px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .imageOne img {
    max-width: 100%;
    width: 559px;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .imageOne {
    position: absolute;
    top: 22%;
    left: 47%;
  }

  .textOne {
    display: flex;
    flex-direction: column;
    width: 500px;
    position: absolute;
    left: 5%;
    top: 24%;
  }
  .textOne h1 {
    color: #00373a;
    font-size: 3.25rem;
    font-family: montserrat;
    letter-spacing: 1px;
    font-weight: 700;
  }

  .textOne h2 {
    color: #00373a;
    font-size: 2.75rem;
    font-weight: 500;
    line-height: 1.29;
    font-family: montserrat;
  }

  .textOne button {
    width: 380px;
    height: auto;
    margin-top: 14px;
    border-radius: 50px;
    font-size: 2rem;
    padding-top: 0.7rem;
    font-family: montserrat;
    font-weight: bold;
  }

  .icons {
    display: flex;
    flex-direction: row;
  }

  /* page2 */

  .pageTwo {
    height: 680px;
  }

  .firstcol h1 {
    font-family: montserrat;
    font-size: 3.2rem;
    padding-bottom: 40px;
    font-weight: 700 !important;
  }

  .flexboxbottom h3 {
    letter-spacing: 2px;
    margin-bottom: 50px;
    color: #005f5a;
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .flexboxbottom h2 {
    font-family: montserrat;
    font-size: 1.75rem;
    font-weight: 700 !important;
  }

  .imagecar img {
    width: 500px;
  }

  .imagebike img {
    width: 220px;
  }

  .colleft {
    padding-left: 50px;
  }
  /* page3 */
  .stepsContainer {
    height: 730px;
    overflow: hidden;
  }

  .mainContainer_steps h2 {
    font-family: montserrat;
    font-size: 3rem;
    left: 2%;
    position: relative;
    font-weight: 700 !important;
  }

  .numberingphoto {
    left: 20px;
    position: relative;
  }

  .stepstextdesign {
    width: 500px;
    position: relative;
    left: -1%;
    font-size: 2rem;
  }

  .mainContainer_steps {
    left: 2%;
  }

  .stepstext {
    font-family: montserrat;
  }

  /*   /* page4 */

  .headingPage4 h1 {
    font-family: montserrat;
    letter-spacing: 1px;
    font-size: 3.25rem;
    margin-top: 50px;
    font-weight: 700 !important;
    margin-bottom: 12px;
  }
  .headingPage4 h2 {
    font-size: 1.2rem;
    letter-spacing: 1px;
    padding: 10px;
    font-weight: 500;
  }

  .flexBoxpage3 {
    flex-direction: row;
  }

  .textstyling h1 {
    font-family: montserrat;
    font-size: 1.8rem;
    font-weight: 700 !important;
  }

  .textstyling h2 {
    font-weight: 400 !important;
    margin-top: 10px;
    font-size: 1.2rem;
  }

  .box1 img {
    width: 120px;
  }

  .box2 img {
    width: 90px;
  }

  .box3 img {
    width: 90px;
  }

  .textstyling img {
    padding-bottom: 10px;
  }

  .flexBoxpage3 {
    align-items: flex-end;
  }

  .page4Container {
    height: 650px;
  }

  /* register page */
  .registerheading {
    font-family: montserrat;
    color: #00373a;
  }

  .registerbuttondesign {
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  /*  dashboard page*/

  .headingdesisgn {
    font-family: montserrat;
    left: 2%;
    position: relative;
  }
  .textheading h2 {
    font-size: 3.7rem;
    text-shadow: 3px 1px 2px black;
  }
  .textheading .applybutton {
    color: black;
    width: 300px;
    font-family: montserrat;
    font-weight: 700;
    position: relative;
    left: 2%;
    height: auto;
    top: -10%;
    font-size: 2rem;
    padding-top: 1rem;
  }

  /* footer */

  footer {
    font-family: Montserrat;
    max-height: auto;
  }

  .addressDiv h3 {
    color: var(--yellowheadings);
    font-family: montserrat;
    font-size: 1.6rem;
  }

  .address2 {
    line-height: 1.9rem;
    font-family: montserrat;
    font-size: 1.2rem;
  }

  .socialDiv h1 {
    font-family: montserrat;
    font-size: 1.6rem;
  }

  .socialDiv img {
    width: 150px;
  }

  .emailDiv {
    margin-top: 50px;
  }

  .emailDiv p {
    font-size: 1.2rem;
    font-family: montserrat;
  }

  .footerp {
    position: relative;
    text-align: center;
    font-family: montserrat;
    top: 90%;
  }

  .footerdiv {
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  }
}
